@{
    ViewBag.Title = "FAQ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FrequentlyAskedQuestions</title>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <link href="~/Content/style2.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <nav id="topnav">
        <div class="menu"></div>
        <ul>
            <li><a href="#">Log in </a></li>
            <li><a href="#">Career</a></a></li>
            <li><a href="#">About Us </a></li>
            <li><a href="#">Contact </a></li>
        </ul>
    </nav>
    <header>
        <h1 id="main">GRAND MOUNTAIN CLINIC</h1>
    </header>
    <nav id="downnav">
        <div class="menu2"></div>
        <ul>
            <li><a href="#">Services </a></li>
            <li><a href="#">Pharmacy</a></a></li>
            <li><a href="#">New Patients</a></li>
            <li><a href="#">Care Team</a></li>
        </ul>
    </nav>
    <section>
        <div id="faq">
            <div class="head"> Frequently Asked Questions  </div>
            <div class="faq-block">
                <input id="qa1" type="checkbox">
                <label for="qa1">What information will the Patient Services Representative need to schedule an appointment?</label>
                <article class="qa1a">
                    <p>When calling to schedule an appointment please have Patients Fullname, DOB, Current address and Insurance information ready. .</p>
                </article>
            </div>
            <div class="faq-block">
                <input id="qa2" type="checkbox">
                <label for="qa2">Will you bill my insurance?</label>
                <article class="qa2a">
                    <p>Yes. As a service to our patients, primary insurance is billed. We have recently enhanced our system to accommodate automatic billing of secondary insurance. Please be sure to keep us informed of your insurance coverage.</p>
                </article>
            </div>
            <div class="faq-block">
                <input id="qa3" type="checkbox">
                <label for="qa3">What if I can't make my appointment and I need to reschedule?</label>
                <article class="qa3a">
                    <p>Please call your physician’s office as soon as you realize you will not be able to keep your appointment. We prefer all cancellations be made at least 24 hours prior to your scheduled appointment time. This will allow us to give another patient the opportunity to be seen.</p>
                </article>
            </div>
            <div class="faq-block">
                <input id="qa4" type="checkbox">
                <label for="qa4">How do I get my blood pressure checked?</label>
                <article class="qa4a">
                    <p>Blood pressure checks are provided complimentary at each of our locations. Call the clinic nearest you for details.</p>
                </article>
            </div>

        </div>
    </section>


</body>
</html>
