@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Grandmountainclinic</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav id="topnav">
        <div class="menu"></div>
        <ul>
            <li><a href="#">Log in </a></li>
            <li><a href="#">Career</a></a></li>
            <li><a href="#">About Us </a></li>
            <li><a href="#">Contact </a></li>
        </ul>
    </nav>
    <header>
        <h1 id="main">GRAND MOUNTAIN CLINIC</h1>
    </header>
    <nav id="downnav">
        <div class="menu2"></div>
        <ul>
            <li><a href="#">Services </a></li>
            <li><a href="#">Pharmacy</a></a></li>
            <li><a href="#">New Patients</a></li>
            <li><a href="#">Care Team</a></li>
        </ul>
    </nav>
    <!-- <div class="login">
        <ul>
            <h3>GMC Community</h3>
            <li><input type="button" name="Login" value="Login"></li>
            <li><input type="button" name="Signup" value="Sign up"></li>
        </ul>
    </div>-->
    <div class="chatbot">
        <ul>
            <iframe src='https://webchat.botframework.com/embed/chatbotmydemo-bot?s=OhYPf2KOj60.DCih9UvcZj45zc0hQX-IzxZbbKD98-6ndN88zNoz6uY' 
                    style='min-width: 300px; width: 80%; min-height: 500px; background-color: white;'></iframe>
        </ul>
    </div>
</body>
</html>